input[type=button] {
    background-color: rgb(210, 245, 252);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
p {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
}

label[for="lname"],[for="cname"],[for="fname"]{
    font-size: 30px;
    font-weight: bold
}

*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}

.header{
    min-height: 100%;
    width: 100%;
    background-image: rgb(124, 177, 238);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: floralwhite;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 30px;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgb(124, 177, 238);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

body{
    font-family: sans-serif;
    border-radius: 5px;
    background-color: rgb(124, 177, 238);
    padding: 20px;

}  

.container{
    height: 50%;
}

.sidebar {
    float: left;
    position: left;
    padding-top: 100px;
    width: 30%;
} 

.mapa{
    float: left;
    position: right;
    width: 68%;
    padding-left: 12px;
    padding-right: 12px;
}
#mapid {    
    margin: auto;
    width: 100%; 
    height: 600px; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    
}
#mapidjuncao {    
    margin: auto;
    width: 100%; 
    height: 600px; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    
}

.site-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(210, 245, 252);
           
}

.informacao{
    padding: 8px;
    padding-left: 2%;
    background-color: rgb(210, 245, 252);
    height: 50%;
}
